h1{
    color: green ;

}
body{
    margin:0px;
    background-color:rgb(156, 148, 148) ;
}
.navbar{
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    padding:20px;
    text-align: center;
}
.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size:20px;
}
.navbar a:hover{
    color:blue;
    background-color:aqua;
}